.timepiece {
    display: flex;
    position: fixed;
    flex-direction: column;

    width: max-content;
    margin: 10px auto;
    left: 0;
    right: 0;
    padding: 3px 15px;
    border: 2px solid rgb(182, 173, 173);
    border-radius: 25px;
    box-shadow: 10px 5px 5px rgb(158, 153, 153);
    background: rgba(221, 221, 221, 0.63);
    color: #333;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
}